body {
    background-color: #2667ea;
    font-family: Arial, sans-serif;
}
div {
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

h1 {
    color: #333333;
    font-size: 24px;
    text-align: center;
}

.primere 
{
    background-color: #e0f7fa;
}
.deuxemere
{
    background-color: #ffe0b2;
}

.troisieme
{
    background-color: #ef1154;
}

.quatrieme
{
    background-color: #c8e6c9;
}